
ENVIRONMENT=production
SECRET_KEY=REPLACE_ME
DATABASE_URL=REPLACE_ME
DATABASE_URL_SYNC=REPLACE_ME
REDIS_URL=REPLACE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
BCRYPT_ROUNDS=12
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
SMTP_FROM_EMAIL=REPLACE_ME
SMTP_FROM_NAME=AuthShield
GOOGLE_CLIENT_ID=REPLACE_ME
GOOGLE_CLIENT_SECRET=REPLACE_ME
GOOGLE_REDIRECT_URI=REPLACE_ME
GITHUB_CLIENT_ID=REPLACE_ME
GITHUB_CLIENT_SECRET=REPLACE_ME
GITHUB_REDIRECT_URI=REPLACE_ME
FRONTEND_URL=REPLACE_ME